/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@font-face {
  font-family: 'Founders';
  src: url('../klim/FoundersGroteskWeb-Semibold.eot');
  src: local('☺︎'),
    url("../klim/FoundersGroteskWeb-Semibold.woff") format("woff"),
}

@import "compass/reset";

$desktop-width: 720px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin retina {
   @media
     only screen and (-webkit-min-device-pixel-ratio: 2),
     only screen and (min--moz-device-pixel-ratio: 2),
     only screen and (-o-min-device-pixel-ratio: 2/1),
     only screen and (min-device-pixel-ratio: 2),
     only screen and (min-resolution: 192dpi),
     only screen and (min-resolution: 2dppx) {
     @content;
  }
}

$primary-color: #444;
$text-align:left;

.navLink a:link {color: #fff; text-decoration: none;}
.navLink a:visited {color:#fff; text-decoration: none;} 
.navLink a:hover {color:#999; text-decoration: none;}   
.navLink a:active {color:#fff; text-decoration: none;}

.archive {
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #222;
  color: #fff;
  overflow-y: auto;
}
body {
  color: $primary-color;
  text-align: $text-align;
  background-color: #fff;
}
.curator {
  color: #666;
  font-family: "proxima-nova-alt",sans-serif;
  font-size: 0.875em; 
  font-style: italic;
  font-weight: 400;
  padding-bottom: 5%;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.def {
  margin-top: 10px;
  color: #999;
  display: block;
  font-family: "proxima-nova-alt",sans-serif;
  font-size: .8em;
  font-weight: 400;
  }       
.divider {
  background: #bfbfbf;
  height: 1px;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  width: 60px;
}
.h1 {
  font-family: 'Libre Baskerville', serif;
	font-size: 2.25em; 
  font-weight: 700;
  padding-bottom: 5%;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.h2 {
  font-family: "proxima-nova-alt",sans-serif;
  font-size: 1em; 
  font-weight: 600;
  padding-bottom: 5%;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.h3 {
  font-family: "proxima-nova-alt",sans-serif;
  font-size: 0.875em; 
  font-weight: 600;
  padding-bottom: 5%;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.image {
  background: #666;
  margin: auto;
  margin-bottom: 4%;
  text-align: center;
  width: 100%;
}
.links {
  columns: 4 150px;
  padding-top: 14%;
  padding-bottom: 7%;
}
.nav {
  margin-top: 6%;
  margin-bottom: 8%;
  max-width: 640px;
}
.navDark {
  margin-bottom: 6%;
  max-width: 640px;
}
.navName {
  color: #FF5B60;
  float: left;
  display: block;
  font-family: "proxima-nova-alt",sans-serif;
  font-size: 1.25em; 
  font-weight: 700;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.navArchive {
  border-bottom: 4px solid transparent;
  color: #444;
  cursor: pointer;
  display: block;
  float: right;
  font-family: "proxima-nova-alt",sans-serif;
  font-size: 1em; 
  font-weight: 600;
  margin-top: 4px;
  padding-bottom: 5px;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.navArchive:hover{
    border-bottom: 4px solid #444;
}
.navClose {
  border-bottom: 4px solid transparent;
  color: #fefefe;
  cursor: pointer;
  display: block;
  float: right;
  font-family: "proxima-nova-alt",sans-serif;
  font-size: 1em; 
  font-weight: 600;
  margin-top: 4px;
  padding-bottom: 5px;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}.navClose:hover {
    border-bottom: 4px solid #fefefe;
}
.navLink {
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2em; 
  font-weight: 700;
  padding-bottom: 5%;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.nav:after { content: ""; display: table; clear: both; }
.noscroll {

}
.post {
  padding-top: 7%;
  padding-bottom: 7%;
}
.p {
  color: #555;
  display: block;
  font-family: "proxima-nova-alt",sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.625em;
  padding-bottom: 2%;
}
.sitewrapper {
  margin: auto;
  max-width: 640px;
} 
::selection {
  background: #ddd;
}
::-moz-selection {
  background: #ddd;
}



















